---
title: Издательство АВТОГРАФ, г. Кемерово
---

<div id="menu">
	<div class="row">
		<div class="large-4 columns">
			<a class="" href="">
				<img src="http://placehold.it/340x100&text=[Autograph Logotype]">
			</a>
		</div>
		<div class="large-4 columns">
			<p class="text-center">Издательский дом АВТОГРАФ<br>г. Кемерово</p>
		</div>
	  <div class="large-4 columns">
	  	<ul class="button-group even-2">
		  	<li><a href="#products" class="button">Издания</a></li>
		  	<li><a href="#contacts" class="button">Контакты</a></li>
	  	</ul>
	  </div>
	</div>
</div>

<div id="products" class="page-block">
	<div class="row">
		<div class="small-12 columns">
			<h2>Наши издания</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<a class="th" href="domovoy/">
				<img src="http://placehold.it/500x300&text=[DOMOVOY]">
			</a>
			<ul class="button-group even-3">
				<li><a href="domovoy/#about" class="small button">О проекте</a></li>
				<li><a href="domovoy/#archive" class="small button">Архив номеров</a></li>
				<li><a href="domovoy/#pricing" class="small button alert">Цены на рекламу</a></li>
			</ul>
			<p class="text-center">Информационно-рекламный, периодический журнал, издаётся в городе Кемерово. Распространяется в городах Кемеровской области.</p>
			<p class="text-center"><a class="button success radius" href="#">Скачать последний номер</a></p>
		</div>

		<div class="large-6 columns">
			<a class="th" href="gazeta/">
				<img src="http://placehold.it/500x300&text=[GAZETA]">
			</a>
			<ul class="button-group even-3">
				<li><a href="#" class="small button disabled">О проекте</a></li>
				<li><a href="#" class="small button disabled">Архив номеров</a></li>
				<li><a href="#" class="small button disabled">Цены на рекламу</a></li>
			</ul>
			<p class="muted text-center">Информационно-рекламная газета, издаётся в городе Кемерово. Распространяется в городах Кемеровской области.</p>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<a class="right button small secondary radius" href="#">&uarr; наверх</a>
		</div>
	</div>
</div>

<div id="contacts" class="grey page-block">
	<div class="row">
		<div class="small-12 large-8 columns">
			<h2>Контакты</h2>
    	<p>Вы можете связаться с нами посредством электронной почты, пишите нам на <a href="mailto:test@example.com">test@example.com</a> или отправьте сообщение прямо с сайта. Будем рады любому вопросу, предложению или совету.</p>

			<div class="section-container auto" data-section>
			  <section class="section active">
			    <h5 class="title"><a href="#panel1">Связаться с редакцией</a></h5>
			    <div class="content" data-slug="panel1">
			      <form>
			        <div class="row">
			          <div class="large-4 columns">
			            <label class="inline">Ваше имя</label>
			          </div>
			          <div class="large-8 columns">
			            <input type="text" id="yourName" placeholder="Джон Смит">
			          </div>
			        </div>
			        <div class="row">
			          <div class="large-4 columns">
			            <label class="inline">Электронная почта</label>
			          </div>
			          <div class="large-8 columns">
			            <input type="text" id="yourEmail" placeholder="john@smithco.com">
			          </div>
			        </div>
			        <label>Чего вы хотите?</label>
			        <textarea rows="5"></textarea>
	        		<button type="submit" class="radius button">Послать сообщение</button>
			      </form>
			    </div>
			  </section>
			</div>
		</div>

		<div class="small-12 large-4 columns">
			<h3>Как проехать?</h3>
			<a class="th" href="#">
				<img src="http://placehold.it/340x300&text=[Map]">
			</a>
			<ul class="vcard">
			  <li class="fn">ООО "Автограф"</li>
			  <li class="street-address">ул. Соборная, дом 8, офис 420</li>
			  <li class="locality">г. Кемерово</li>
			  <li><span class="state">Кемеровская область</span>, <span class="zip">650004</span></li>
			  <li class="tel">+7 (3842) 657330</li>
			  <li class="email"><a href="#">test@example.com</a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<a class="right button small secondary radius" href="#">&uarr; наверх</a>
		</div>
	</div>

</div>

<div id="footer">
	<div class="row">
		<div class="large-6 columns">
			<p>2012-2013 &copy; ООО "Автограф", г. Кемерово</p>
		</div>
		<div class="large-6 columns">
			<ul class="inline-list right">
			  <li><a href="#products">Издания</a></li>
			  <li><a href="#contacts">Контакты</a></li>
			</ul>
		</div>
	</div>
</div>
